<%- include('Header_Main.ejs') %>
<h2 style="margin-left: .5em;">List Of Users you are following :- </h2>
<% for(let i = 0; i < following_result.length; i++) { %>
    <div>
        <%= following_result[i].username %>
    </div>
<% } %>